$base-bg-color: #0E5A2A;
$base-text-color: #6B077A;
$base-font-headers: 'Sansita';
$base-font: 'Roboto';

.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    

    .mira{
        display: flex;
        flex-direction: column;
        width: 100vw;

        margin: 0px;
        padding: 0px;
        

        .home, .reviews, .confirm {
            width: 100vw;
            display: flex;
            flex-direction: column;
        }
        
    }
}