$base-bg-color: #0E5A2A;
$base-text-color: #6B077A;
$base-font-headers: 'Sansita';
$base-font: 'Roboto';
$sarina-font: 'Sarina';

@mixin cardBtn {
    font-family: $sarina-font, sans-serif;
    font-style: italic;
    color: $base-text-color;
    font-weight: 500;
    font-size: 0.8rem;
    position: absolute;
    bottom: 2px;
    right: 2px;
    cursor: pointer;
}

.main {
    display: flex;
    width: 100%;
    height: 50%;

        .text {
            width: 50%;
            height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            padding-left: 10px;

            h1 {
                color: $base-text-color;
                font-weight: 900;
                font-family: $base-font-headers, sans-serif;
                font-size: 1rem;
            }

            p {
                font-family: $base-font, sans-serif;
                width: 90%;
                font-size: 0.4rem;
            }

            button {
                padding: 5px;
                border-radius: 30px;
                width: fit-content;
                border-color: $base-bg-color;
                background-color: $base-bg-color;
                font-size: 0.4rem;
                font-family: $base-font, serif;
                &:active {
                    border-color: $base-bg-color;
                }
            }
        }
        .img {
            width: 50%;
            height: 30vh;
            overflow-x: hidden;

            img {
                width: 110%;
                height: 100%;
                border-radius: 100%;
                // margin-left: 10vw;
                object-fit: cover;
                object-position: 40% 30%;
            }
        }
}


.offers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    overflow-x: hidden;
    box-sizing: border-box;
    padding-top: 30px;
    width: 100%;

    h1 {
        width: 70%;
        text-align: center;
        color: $base-text-color;
        font-weight: 700;
        font-family: $base-font-headers, sans-serif;
        font-size: 1.3rem;
    }

    .offers-cards {
       width: 100%;
       padding: 0 20px;
       display: flex;
       justify-content: space-around;
       padding-top: 20px;
       
       .offer-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            width: 120px;
            height: 230px;
            position: relative;
            transition: 1s ease-in-out;
            transform-style: preserve-3d;
            perspective: 10000px;

            .inner {
                height: 100%;
                width: 100%;
                text-align: center;
                transition: 1s ease-in-out;
                backface-visibility: hidden;

                img {
                    width: 110px;
                    height: 110px;
                    border-radius: 100%;
                    box-shadow: 0 4px 20px  rgb(0, 0, 0, .25);
                }
    
                h3 {
                    width: 90%;
                    font-family: $base-font-headers, sans-serif;
                    color: $base-bg-color;
                    font-style: 1rem;
                    font-weight: 700;
                    hyphens: auto;
                    text-align: center;
                }
    
                p {
                  @include cardBtn();
                }


    
                &:hover {
                    padding-top: 2px;
                    border: 1px solid gray;
                    border-radius: 30px;
                    box-shadow: 0 0 4px 4px rgb(14, 90, 42, .35);
                }
            }

            .active-back {
                transform: rotateY(180deg);
            }

            .back {
                width: 100%;
                height: 100%;
                border: 2px solid $base-bg-color;
                border-radius: 20px;
                position: absolute;
                top: 0;
                padding: 10px;
                box-shadow: 0 0 4px 4px rgb(107, 7, 122,0.35);
                backface-visibility: hidden;
                transform: rotateY('`180deg');
                transition: 1s ease-in-out;

              
                .ofers-list {
                    display: flex;
                    align-items: center;
                    gap: 2px;
                    font-family: $base-font-headers, sans-serif;
                    font-weight: bold;
                    font-size: 0.5rem;
                    hyphens: auto;


                    .circle {
                        border-radius: 100%;
                        background-color: $base-text-color;
                        width: 4px;
                        height: 4px;
                    }

                    .hideMore {
                        @include cardBtn();
                    }
                }

        
            }

            .deactive-back {
                transform: rotateY(180deg);
            }

           
       }

       .offer-detaild {
        transform: rotateY(180deg);
       }
    }

    .active-back {
        transform: rotateY('180deg');
    }

}


.aboutMe {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 100px 30px 0 30px;
    // gap: 20px;

    figure {
        width: 40%;
        height: auto;

        img {
            width: 100%;
            height: 100%;
            border-top-right-radius: 50%;
        }
    }

    .info {
        width: 50%;

        h3 {
            width: 100%;
            text-align: center;
            color: $base-text-color;
            font-size: 1.3rem;
            font-family: $base-font-headers, sans-serif;
            font-weight: bold;
            padding-bottom: 20px;
        }

        p {
            font-size: 0.5rem;
            text-align: center
        };
    }
}

.reviews-small {
    width: 100%;
    padding: 100px 10px 80px 10px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    position: relative;

    .review-card {
        border-radius: 10px;
        border: 2px solid $base-bg-color;
        width: 30vw;
        height: 200px;
        position: relative;
        padding-top: 10px;

        .emoji {
            width: 100%;
            display: flex;
            justify-content: center;
            font-size: 2rem;
            position: absolute;
            top: -25px;
       }

        .stars {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            padding-right: 10px;
            padding-top: 20px;
            padding-bottom: 10px;


            p {
                color: $base-text-color;
                font-weight: bold;
                padding: 0;
                margin: 0;
            }
        }

        .initials {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $base-text-color;
            font-weight: bold;
            font-family: $base-font-headers, serif;
            font-size: 1rem;
            line-height: 1.2;
        }

        .rev-cont {
            display: flex;
            padding: 2px 2px;
            max-height: 46%;
            font-size: 0.7rem;
            position: relative;
            font-weight: 500;
            hyphens: auto;

            p {
                padding: 2px 6px 0px 6px;
                height: 100%;
                display: -webkit-box; 
                -webkit-line-clamp: 4; 
                -webkit-box-orient: vertical;
                overflow: hidden; 
                text-overflow: ellipsis; 
                word-wrap: break-word;

                &::before {
                    content: '❝';
                    margin-left: -4px;
                    color: $base-bg-color;
                    font-size: 1rem;
                }

                &::after {
                    content: '❞';
                    color: $base-bg-color;
                    font-size: 1rem;
                    position: absolute;
                    bottom: 6px;
                    right: 4px;
                    // transform: translateY(-20%); 
                }
            }

        }
    }

    button {
        position: absolute;
        bottom: 0;
        right: 20px;
        border: none;
        background-color: $base-bg-color;
        color: white;
        font-weight: 500;
        font-style: 1rem;
        padding: 10px 20px;
        border-radius: 30px;

    }
}

.contact {
    display: flex;
    align-items: center;
    width: 100%;
    height: 600px;

   .form {
        width: 66%;
        padding: 0 12px;
        height: 90%;

        h3 {
            color: $base-text-color;
            font-family: $base-font-headers, serif;
            font-size: 1rem;
        }
        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            font-size: 0.8rem;
            font-weight: 600;
            font-family: $base-font, serif;
            gap: 8px;

            input, select, textarea {
                border-radius: 10px;
                border: 1px solid $base-bg-color;
                padding-left: 10px;
                font-family: $base-font, serif;
            }

            input, select {
                height: 30px;    
            }

            textarea {
                height: 100px;
                overflow-y: auto;

                &:active, &:focus {
                    // outline: none;
                    border: 1px solid $base-text-color;
                }
            }

            button {
                width: fit-content;
                padding: 10px 30px;
                border-radius: 30px;
                border: none;
                background-color: #0E5A2A;
                color: white;
                font-family: $base-font, serif;
                font-weight: 500;
            }

        

        }
   }

    .figure {
        background-image: url('../../assets//img/contact.jpg');
        background-position: center;
        background-size: cover;
        width: 34%;
        height: 90%;
        overflow: hidden;
        box-shadow: inset  20px 0 20px white;

        img {
            width: 100%;
            height: 100%;
            transform: scale(1.3);
        }
    }
}

@media (min-width: 768px){
    .main {
        height:  auto;

        .text {
        padding-left: 16px;

        h1 {
            font-size: 2rem;
        }

        p {
            font-size: 0.8rem;
        }

        button {
            font-size: 0.8rem;
            padding: 8px;
        }
        }

        .text, .img {
            height: 40vh;
        }
    }

    .offers {
        padding-top: 50px;

        h1{
            width: 50%;
            font-size: 1.6rem;
        }

       .offers-cards {

        .offer-card {
        
            gap: 30px;
            width: 190px;
            height: 310px;

           .inner {
                img {
                    width: 140px;
                    height: 140px;
                }

                h3 {
                    font-style: 2.2rem;
                    padding-top: 12px;
                }

                p {
                    font-size: 1.5rem;
                }
           }

           .back {
                border: 2px solid $base-bg-color;
                padding: 20px;
            
                .ofers-list {
                
                    gap: 4px;
                    padding-bottom: 2px;
                
                    font-size: 1rem;


                    .circle {
                        width: 4px;
                        height: 4px;
                    }

                }
    
            }
        }
       }
    }

    .aboutMe {
     
        padding: 100px 30px 0 30px;
        // gap: 20px;
    
        figure {
            width: 40%;
        }
    
        .info {
            width: 50%;
    
            h3 {
                width: 100%;
              
                font-size: 1.6rem;
            }
    
            p {
                font-size: 1rem;
            };
        }
    }

    .review-card {
        border: 3px solid $base-bg-color !important;
        border-radius: 2 !important;
        height: 400px;

        .emoji {
            font-size: 3rem !important;
            top: -40px !important;
       }

        .stars {
            padding-right: 10px;
            padding-top: 10px !important;
        }

        .initials {
            flex-direction: column;
            align-items: center;
            font-size: 1.2rem ;
            line-height: 1.2;
        }

        .rev-cont {
            padding: 4px 4px!important;
            max-height: 46%;
            font-size: 0.8rem !important;
           

            p {
                padding: 2px 8px 0px 8px !important;
                -webkit-line-clamp: 4; 

                &::before {
                    margin-left: -4px;
                    font-size: 1rem;
                }

                &::after {
                    font-size: 1rem;
                    bottom: 1px !important;
                    right: 6px !important;
                    // transform: translateY(-20%); 
                }
            }

        }
    }

    
.contact {
    height: 860px;

   .form {
        width: 60%;
        padding: 0 12px;
        height: 90%;

        h3 {
            font-size: 1.6rem;
            padding-bottom: 16px;
        }
        form {
            font-size: 1.2rem;
            gap: 16px;

            input, select {
                height: 50px;    
            }

            textarea {
                height: 160px;

                &:active, &:focus {
                    border: 1px solid $base-text-color;
                }
            }

            button {
                font-size: 1.5rem;
            }

        

        }
   }

    .figure {
        width:40%;
    }
}
}


@media (min-width: 1025px){
    .main {
        height:  calc(100vh - 80px);

        .text {
            padding-left: 50px;
            h1 {
                font-size: 4rem;
            }

            p {
                font-size: 1.1rem;
                font-weight: 400;
                width: 70%;
            }

            button {
                font-size: 1.2rem;
                padding: 14px;
            }
            }

        .text, .img {
        height: 100%;
        }

        .img {
        img {
            width: 100%;
            margin-left: 16%;
        }
        }
    }

    
    .offers {
        padding-top: 60px;

        h1{
            width: 60%;
            font-size: 2rem;
        }

       .offers-cards {

        .offer-card {
            gap: 30px;
            min-width: 260px;
            max-width: 300px;
            height: 500px;

            .inner {
                img {
                    min-height: 250px;
                    min-width: 250px;
                    max-width: 270px;
                    max-height: 270px;
                }
    
                h3 {
                    font-style: 2rem;
                }
    
                p {
                    font-size: 1.5rem;
    
                }
            }

            .back {
                border: 4px solid $base-bg-color;
                padding: 30px;
            
                .ofers-list {
                
                    gap: 10px;
                    padding-bottom: 2px;
                
                    font-size: 1.3rem;


                    .circle {
                        width: 10px;
                        height: 10px;
                    }

                    .hideMore {
                        font-size: 1.5rem;
                    }
                }
    
            }
       }
       }
    }

    
    .aboutMe {
     
        padding: 200px 50px 0 50px;
        // gap: 20px;
    
        figure {
            width: 40%;
        }
    
        .info {
            width: 50%;
    
            h3 {
                width: 100%;
                font-size: 2rem;
                margin-top: -30px;
            }
    
            p {
                font-size: 1rem;
            };
        }
    }
    
    .reviews-small {
        padding-left: 50px;
        padding-right: 20px;

        .review-card {
            width: 30%;
            height: 260px !important;
            border-radius: 30px !important;
    
            .emoji {
                font-size: 4rem !important;
                top: -55px !important;
           }
    
            .stars {
                padding-top: 4px !important;
                font-size: 1.4rem!important;
            }
    
            .initials {
                flex-direction: row !important;
                justify-content: center !important;
                gap: 4px;
                font-size: 1.4rem !important;
                padding-bottom: 10px;
            }
    
            .rev-cont {
                padding: 4px 20px!important;
                max-height: 60%  !important;
                font-size: 1rem !important;
    
               
    
                p {
                    padding: 2px 12px 0px 12px !important;
                    -webkit-line-clamp: 4  !important; 
    
                    &::before {
                        margin-left: -12px  !important;
                        font-size: 2rem !important;
                        padding-right: 6px;
                    }
    
                    &::after {
                        font-size: 2rem  !important;
                        bottom: 6px !important;
                        right: 16px !important;
                        padding-left: 6px !important;
                    }
                }
    
            }
           
    }

     
    }

    .contact {
        height: 1000px;
        padding: 20px 20px 0 10px;
    
       .form {
            width: 60%;
            padding: 0 12px;
            height: 90%;
            padding-left: 70px;
            display: flex;
            flex-direction: column;
            justify-content: center;
    
            h3 {
                width: 50%;
                font-size: 2.2rem;
                padding-bottom: 50px;
            }
            form {
                width: 70%;
                font-size: 1.2rem;
                font-weight: 600;
                gap: 16px;
    
                input, select, textarea {
                    border-radius: 30px;
                    padding-left: 10px;
                }
    
                input, select {
                    height: 46px;    
                }
    
                textarea {
                    height: 160px;
                    overflow: auto;
    
                    &:active, &:focus {
                        border: 1px solid $base-text-color;
                    }
                }
    
                button {
                    padding: 10px 30px;
                    border-radius: 30px;
                    font-size: 1.4rem;
                }
    
            
    
            }
       }
    
        .figure {
            width: 40%;
            height: 90%;
            box-shadow: inset  20px 0 20px white;
    
            img {
                width: 100%;
                height: 100%;
                transform: scale(1.3);
            }
        }
    }
}