$base-bg-color: #0E5A2A;
$base-text-color: #6B077A;
$base-font-headers: 'Sansita';
$base-font: 'Roboto';
$sarina-font: 'Sarina';

.main {
    display: flex;
    width: 100%;
    height: 50%;

        .text {
            width: 50%;
            height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            padding-left: 10px;

            h1 {
                color: $base-text-color;
                font-weight: 900;
                font-family: $base-font-headers, sans-serif;
                font-size: 1rem;
            }

            p {
                font-family: $base-font, sans-serif;
                width: 90%;
                font-size: 0.4rem;
            }

            button {
                padding: 5px;
                border-radius: 30px;
                width: fit-content;
                border-color: $base-bg-color;
                background-color: $base-bg-color;
                font-size: 0.4rem;
                font-family: $base-font, serif;
                &:active {
                    border-color: $base-bg-color;
                }
            }
        }
        .img {
            width: 50%;
            height: 30vh;
            overflow-x: hidden;

            img {
                width: 110%;
                height: 100%;
                border-radius: 100%;
                // margin-left: 10vw;
                object-fit: cover;
                object-position: 40% 30%;
            }
        }
}


.offers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    overflow-x: hidden;
    box-sizing: border-box;
    padding-top: 30px;
    width: 100%;

    h1 {
        width: 70%;
        text-align: center;
        color: $base-text-color;
        font-weight: 700;
        font-family: $base-font-headers, sans-serif;
        font-size: 1.3rem;
    }

    .offers-cards {
       width: 100%;
       padding: 0 20px;
       display: flex;
       justify-content: space-around;
       padding-top: 20px;
       
       .offer-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            width: 120px;
            height: 280px;
            position: relative;

            img {
                width: 110px;
                height: 110px;
                border-radius: 100%;
                box-shadow: 0 4px 20px  rgb(0, 0, 0, .25);
            }

            h3 {
                width: 90%;
                font-family: $base-font-headers, sans-serif;
                color: $base-bg-color;
                font-style: 1rem;
                font-weight: 700;
                hyphens: auto;
                text-align: center;
            }

            p {
                font-family: $sarina-font, sans-serif;
                font-style: italic;
                color: $base-text-color;
                font-weight: 500;
                font-size: 0.8rem;
                position: absolute;
                bottom: 2px;
                right: 2px;
            }
       }
    }

}


@media (min-width: 768px){
    .main {
        height:  auto;

        .text {
        padding-left: 16px;

        h1 {
            font-size: 2rem;
        }

        p {
            font-size: 0.8rem;
        }

        button {
            font-size: 0.8rem;
            padding: 8px;
        }
        }

        .text, .img {
            height: 40vh;
        }
    }

    .offers {
        padding-top: 50px;

        h1{
            width: 50%;
            font-size: 1.6rem;
        }

       .offers-cards {

        .offer-card {
        
            gap: 30px;
            width: 190px;
            height: 400px;

            img {
                width: 180px;
                height: 180px;
            }

            h3 {
                font-style: 2.2rem;
            }

            p {
                font-size: 1.5rem;
            }
       }
       }
    }
}


@media (min-width: 1025px){
    .main {
        height:  calc(100vh - 80px);

        .text {
            padding-left: 20px;
            h1 {
                font-size: 4rem;
            }

            p {
                font-size: 1.1rem;
                font-weight: 400;
                width: 70%;
            }

            button {
                font-size: 1.2rem;
                padding: 14px;
            }
            }

        .text, .img {
        height: 100%;
        }

        .img {
        img {
            width: 100%;
            margin-left: 16%;
        }
        }
    }

    
    .offers {
        padding-top: 60px;

        h1{
            width: 60%;
            font-size: 2rem;
        }

       .offers-cards {

        .offer-card {
            gap: 30px;
            min-width: 260px;
            max-width: 300px;
            height: 500px;

            img {
                min-height: 250px;
                min-width: 250px;
                max-width: 270px;
                max-height: 270px;
            }

            h3 {
                font-style: 2rem;
            }

            p {
                font-size: 1.5rem;

            }
       }
       }
    }
}